nav{
	background-color:#e2e2e2;

	//BTNS AND DROPDOWNS

	.btn-catalogo{
		margin-bottom: 0px;
		border-radius: 0px;
		border-top: none;
	    border-right: none;
	    border-left: none;
	    padding: 1.5em;
	    background-color: transparent;
	    min-width: 160px;
	    text-align: left;

	    .caret{
	    	float: right;
	    	margin: 10px 10px 0px 0px;
	    }

	}

	.dropdown-catalogo{
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
		border-radius: 0px;
		border:none;
		margin: 2px 0px;
		padding: 0px;
		left: auto;
		width: 176px;

		li{
			width: 100%;
			margin: 0px;
			text-align: center;
			a{
				padding: 0.8em 0;
				border-bottom:1px solid #f6f6f6;
				font-weight: 300;
				-webkit-font-smoothing: antialiased;
				&:hover,
				&:focus{
					color: #a05f00;
					    background: rgba(213,213,213, 0.10);
				}
			}
		}
	}

	ul{		
		line-height: 0px;
		li{
			float: left;
			list-style: none;
			margin: 0px;

			&:hover,
			&:focus{
				background-color: rgba(158,158,158, 0.40);
			}

			button{
				padding: 1.5em;
				background-color: transparent;
				border:none;
				color:rgb(69, 90, 100);
				outline: none;

				&:hover,
				&:focus{
					color: #a05f00;
				}
			}

			i{
				margin: 0px 5px;
			}
		}
	}
	.botones{
		margin-left: 17%;
	}
	
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #000000;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs>li>a {
    color: #909090;
    font-weight: 500;
    background-color: #f1f1f1;
}
.nav>li>a:hover, 
.nav>li>a:focus {
	color: #000000;
    background-color: #dcdcdc;
    cursor: pointer;
}