/* 
	body {
	   background: -webkit-linear-gradient(left, gray , white);
	   background: -o-linear-gradient(right, gray, white);
	   background: -moz-linear-gradient(right, gray, white);
	   background: linear-gradient(to right, gray , white);  
	}

	fill: rgb(96, 125, 139) blue gray
	fill: rgb(69, 90, 100); blue gray dark
	fill: rgb(233, 30, 99); pink
	fill: rgb(194, 24, 91); pink dark
	#e2e2e2 gray background
	#757575 gray font color
	 #333 gray dark font color
*/