table, .check-table-compl{
	.active_check {
	    background:rgba(157,232,119,0.95)
	}
	.checkContent {
	    width: 25px;
	    margin: 0 auto;
	    position: relative;
	}
	.checkContent label {
	    position: absolute;
	    width: 25px;
	    height: 25px;
	    top: -5px;
	    left: 0;
	    background: #eee;
	    border:1px solid #ddd;
	}
	.checkContent label:after {
	    opacity: 0;
	    content: '';
	    position: absolute;
	    width: 9px;
	    height: 5px;
	    background: transparent;
	    top: 6px;
	    left: 7px;
	    border: 3px solid #333;
	    border-top: none;
	    border-right: none;

	    transform: rotate(-45deg);
	}
	.checkContent label:hover::after {
	    opacity: 0;
	}
	.checkContent input[type='checkbox']:checked + label:after {
	    opacity: 1;
	}

	table thead th {
	    position: relative;
	}
	.ButtonsContainer {
	    padding: 10px;
	    margin: 0 auto;
	    text-align: center;
	}
	
}