@mixin tituloTarjeta($titulo){
  content: $titulo;
}

@mixin contenidoTarjeta($contenido){
  content: $contenido;
}

@mixin simboloTarjeta($simbolo){
  content: $simbolo;
}

@mixin tituloPromocion($titulo){
  content: $titulo;
}
